.mainNav {
  border-bottom: 1px solid #88888829;
}

.logo {
  /* Clip path group */

  position: absolute;
  left: 0%;
  right: 73.58%;
  top: 0%;
  bottom: 0%;

  /* 6d5c3eddbc */

  position: absolute;
  left: 0%;
  right: 73.58%;
  top: 0%;
  bottom: 0%;

  /* Vector */

  position: absolute;
  left: 0%;
  right: 73.58%;
  top: 0%;
  bottom: 0%;

  background: #000000;

  /* Group */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  /* Mask group */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  /* Group */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  /* Group */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  /* Group */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  /* Rectangle */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  background: url(f8f6178603);

  /* Group */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  /* Group */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  /* Rectangle */

  position: absolute;
  left: -15.17%;
  right: 56.77%;
  top: -87.84%;
  bottom: -103.58%;

  background: url(2155c77818);
}
